---
import BaseHead from "@/layouts/BaseHead.astro";
import "../styles/global.css";
import NavBar from "./NavBar.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
  <Footer />
</html>
